@use 'variables' as v;
@use 'mixins' as m;

footer {
  font-family: 'Open Sans', sans-serif;
  padding-top: 9rem;
  background-color: v.$dark-cyan;
  padding-left: 1.5rem;
  color: v.$white-clr;
  div {
    &.footerContent {
      .info {
        .infoSection {
          font-weight: 300;
          img {
            margin: 0rem 1.5rem 0rem 0rem;
            &.loc {
              margin-top: 1.4rem;
            }
          }
          p {
            margin: 1rem 2.1rem 1rem 0rem;
            line-height: 1.5rem;
          }
        }
        :last-child {
          margin-bottom: 2rem;
        }
      }
      .list {
        p {
          a {
            color: v.$white-clr;
            font-size: 1.1rem;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &:last-child {
          margin-bottom: 4rem;
        }
      }
      .social {
        width: 40%;
        padding-left: 28%;
        margin-bottom: 0.7rem;
        margin-top: 3rem;
        a {
          border: 1px solid v.$white-clr;
          border-radius: 100%;
          padding: 0.5rem 0.755rem 0.3rem 0.755rem;
          svg {
            fill: currentColor;
            color: v.$white-clr;
            &#facebook{
              width: 0.6rem;
            }
            &#twitter{
              width: 0.85rem;
            }
            &#instagram{
              width: 0.9rem;
            }
          }
          &:hover {
            border-color: v.$pink-clr;
            :first-child {
            color: v.$pink-clr;
            }
          }
        }
        :nth-child(2){
          padding: 0.5rem 0.65rem 0.3rem 0.65rem;
        }
        :nth-child(3){
          padding: 0.55rem 0.65rem 0.25rem 0.65rem;
        }
      }
    }
  }
  img {
    margin-bottom: 0.5rem;
    &#logo {
      width: 10rem;
      filter: brightness(0) invert(1);
    }
  }
  p {
    &.copyright {
      width: 100%;
      text-align: center;
      font-size: 0.7rem;
    }
    &.attribution {
      position: relative;
      left: -0.75rem;
      width: 100%;
      text-align: center;
      font-size: 0.7rem;
      margin-bottom: 1.5rem;
      a {
        color: skyblue;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /* ----------------------- Media Queries ----------------------- */
  @include m.flippedMobileScreens(41.25rem, 53.75rem, 26.25rem) {
    /* --------- ($min-wdth, $max-wdth, $max-hgt) --------- */
    padding-left: 3rem;
    div {
      &.footerContent {
        .info {
          .infoSection {
            max-width: 60%;
          }
        }
        .social {
          width: 25%;
          padding-left: 35%;
        }
      }
    }
  }
  @include m.padScreens(47.813rem, 63.938rem) {
    /* ------ ($min-wdth, $max-wdth) ------ */
    padding-top: 12rem;
    background-color: v.$dark-cyan;
    padding-left: 2rem;
    color: v.$white-clr;
    div {
      &.footerContent {
        width: 95%;
        .info {
          width: 43%;
          .infoSection {
            img {
              margin-right: 1rem;
            }
          }
        }
        .list {
          margin-left: 1rem;
        }
        .social {
          width: 8rem;
          padding-left: 0%;
          margin-top: 1rem;
        }
        :nth-child(2) {
          margin-left: 0rem;
        }
      }
    }
    img {
      margin-bottom: 1.5rem;
      &#logo {
        width: 14rem;
      }
    }
    p {
      &.copyright {
        width: 95%;
        text-align: right;
      }
      &.attribution {
        font-size: 0.8rem;
      }
    }
  }
  @include m.flippedPadScreens(64rem, 75rem, 37.5rem) {
    /* ------ ($mn-wdth, $max-wdth, $mn-hgt) ------ */
    padding-top: 12rem;
    background-color: v.$dark-cyan;
    padding-left: 5rem;
    color: v.$white-clr;
    div {
      &.footerContent {
        width: 90%;
        .info {
          width: 35%;
        }
        .social {
          width: 8rem;
          padding-left: 0%;
          margin-top: 1rem;
        }
      }
    }
    img {
      margin-bottom: 1.5rem;
      &#logo {
        width: 14rem;
      }
    }
    p {
      &.copyright {
        width: 90%;
        text-align: right;
      }
      &.attribution {
        font-size: 0.8rem;
      }
    }
  }
  @include m.wideScreens(37.5rem, 73.75rem) {
    /* ------ ($min-hgt, $min-wdth) ------ */
    padding-top: 12rem;
    background-color: v.$dark-cyan;
    padding-left: 8rem;
    color: v.$white-clr;
    div {
      &.footerContent {
        width: 83%;
        .info {
          width: 35%;
        }
        .social {
          width: 8rem;
          padding-left: 0%;
          margin-top: 1rem;
        }
      }
    }
    img {
      margin-bottom: 1.5rem;
      &#logo {
        width: 14rem;
      }
    }
    p {
      &.copyright {
        width: 93%;
        text-align: right;
      }
      &.attribution {
        font-size: 0.8rem;
      }
    }
  }
}
