/* ------------ Colors ------------ */
$pink-clr: hsl(322, 100%, 66%);
$light-pink-clr: hsl(322, 100%, 66%, 0.6);
$pale-cyan-clr: hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);
$white-clr: hsl(0, 0%, 100%);
